node_modules
dist
.idea
.DS_Store
.idea

# Gradle
.gradle/
build/
coverage/
*.tgz
.cordova-sdk-source.stamp
.cap-sync.stamp

.DS_Store
# Coverage
coverage/

# Android
**/capacitor.build.gradle
*.orig
