<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="onesignal-cordova-plugin-pgb-compat"
    version="2.0.10">

  <name>OneSignal Push Notifications PGB Compat</name>
  <author>Josh Kasten</author>

  <description>OneSignal is a high volume Push Notification service for mobile apps. In addition to basic notification delivery, OneSignal also provides tools to localize, target, schedule, A/B test, and automate notifications that you send.</description>

  <keywords>push,notification,push notification,push notifications,apns,gcm,adm,retention,messaging</keywords>

  <license>MIT</license>

  <js-module src="www/OneSignal.js" name="OneSignal">
    <clobbers target="OneSignal" />
  </js-module>

  <engines>
    <engine name="cordova" version=">=3.3.0" />
  </engines>
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="OneSignalPush" >
        <param name="android-package" value="com.plugin.gcm.OneSignalPush" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.WAKE_LOCK" />
      <uses-permission android:name="android.permission.VIBRATE"/>
      
      <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
      <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
      <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
      
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

      <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
      
      <!-- START: ShortcutBadger -->
      <!-- Samsung -->
      <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
      <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>

      <!-- HTC -->
      <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
      <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>

      <!-- Sony -->
      <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>

      <!-- Apex -->
      <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>

      <!-- Solid -->
      <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>

      <!-- Huawei -->
      <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
      <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
      <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
      
      <!-- ZUK -->
      <uses-permission android:name="android.permission.READ_APP_BADGE"/>

      <!-- OPPO -->
      <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
      <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
      
      <!-- End: ShortcutBadger -->
      
      <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />
      <permission android:name="$PACKAGE_NAME.permission.RECEIVE_ADM_MESSAGE" android:protectionLevel="signature" />
      <uses-permission android:name="$PACKAGE_NAME.permission.RECEIVE_ADM_MESSAGE" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <receiver android:name="com.onesignal.NotificationOpenedReceiver" />
      <receiver
        android:name="com.onesignal.GcmBroadcastReceiver"
        android:permission="com.google.android.c2dm.permission.SEND" >
        <intent-filter>
          <action android:name="com.google.android.c2dm.intent.RECEIVE" />
          <category android:name="$PACKAGE_NAME" />
        </intent-filter>
      </receiver>
      <service android:name="com.onesignal.GcmIntentService" />
      <service android:name="com.onesignal.SyncService" android:stopWithTask="false" />
      <activity android:name="com.onesignal.PermissionsActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
      
      <service android:name="com.onesignal.NotificationRestoreService" />
      <receiver android:name="com.onesignal.BootUpReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.intent.action.QUICKBOOT_POWERON" />
        </intent-filter>
      </receiver>
      <receiver android:name="com.onesignal.UpgradeReceiver" >
        <intent-filter>
            <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
        </intent-filter>
      </receiver>
      
      <amazon:enable-feature android:name="com.amazon.device.messaging" android:required="false" xmlns:amazon="http://schemas.amazon.com/apk/res/android" />
      <service android:name="com.onesignal.ADMMessageHandler" android:exported="false" />
      <receiver
        android:name="com.onesignal.ADMMessageHandler$Receiver"
        android:permission="com.amazon.device.messaging.permission.SEND" >
        <intent-filter>
          <action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
          <action android:name="com.amazon.device.messaging.intent.RECEIVE" />
          <category android:name="$PACKAGE_NAME" />
        </intent-filter>
      </receiver>
    </config-file>
    
    <source-file src="src/android/libs/OneSignalSDK.jar" target-dir="libs" />
    <source-file src="src/android/com/plugin/gcm/OneSignalPush.java" target-dir="src/com/plugin/gcm/" />
  </platform>
  
  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="OneSignalPush">
        <param name="ios-package" value="OneSignalPush"/>
      </feature>
    </config-file>

    <framework src="SystemConfiguration.framework" />

    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>remote-notification</string>
      </array>
    </config-file>

   <!-- Headers -->
    <header-file src="src/ios/OneSignal.h" />
    <header-file src="src/ios/OneSignalHTTPClient.h" />
    <header-file src="src/ios/OneSignalTrackIAP.h" />
    <header-file src="src/ios/OneSignalJailbreakDetection.h" />
    <header-file src="src/ios/OneSignalReachability.h" />
    <header-file src="src/ios/OneSignalMobileProvision.h" />
    <header-file src="src/ios/OneSignalLocation.h" />
    <header-file src="src/ios/OneSignalAlertViewDelegate.h" />
    <header-file src="src/ios/OneSignalHelper.h" />
    <header-file src="src/ios/OneSignalTracker.h" />
    <header-file src="src/ios/OneSignalWebView.h" />
    <source-file src="src/ios/OneSignalPush.h" />
    <source-file src="src/ios/OneSignalSelectorHelpers.h" />
    <source-file src="src/ios/UNUserNotificationCenter+OneSignal.h" />
    <source-file src="src/ios/UIApplicationDelegate+OneSignal.h" />
    
    

    <!-- Implementation -->
    <source-file src="src/ios/OneSignal.m" />
    <source-file src="src/ios/OneSignalHTTPClient.m" />
    <source-file src="src/ios/OneSignalTrackIAP.m" />
    <source-file src="src/ios/OneSignalJailbreakDetection.m" />
    <source-file src="src/ios/OneSignalReachability.m" />
    <source-file src="src/ios/OneSignalMobileProvision.m" />
    <source-file src="src/ios/OneSignalLocation.m" />
    <source-file src="src/ios/OneSignalAlertViewDelegate.m" />
    <source-file src="src/ios/OneSignalTracker.m" />
    <source-file src="src/ios/OneSignalHelper.m" />
    <source-file src="src/ios/OneSignalWebView.m" />
    <source-file src="src/ios/OneSignalPush.m" />
    <source-file src="src/ios/OneSignalSelectorHelpers.m" />
    <source-file src="src/ios/UNUserNotificationCenter+OneSignal.m" />
    <source-file src="src/ios/UIApplicationDelegate+OneSignal.m" />

    <header-file src="src/ios/OneSignal-Prefix.pch" />

  </platform>
  
  <!-- Windows Phone 8.1 -->
  <platform name="windows">
    <config-file target="config.xml" parent="/*">
      <feature name="OneSignalPush">
        <param name="ios-package" value="OneSignalPush"/>
      </feature>
    </config-file>
    
    <js-module src="src/windows/OneSignalPushProxy.js" name="OneSignalPushProxy">
      <merges target="" />
    </js-module>
    
    <framework src="src/windows/OneSignalSDK_WP_WNS_WRTC.winmd" custom="true" />
    <framework src="src/windows/OneSignalSDK_WP_WNS.dll" custom="true" />
    <framework src="src/windows/Newtonsoft.Json.dll" custom="true" />
  </platform>

</plugin>

