# Default App ID (used if VITE_ONESIGNAL_APP_ID is empty): 77e32082-ea27-42e3-a898-c72e141824ef
VITE_ONESIGNAL_APP_ID=your-onesignal-app-id
VITE_ONESIGNAL_API_KEY=your-onesignal-api-key
VITE_E2E_MODE=false
